/* global styles */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-styles {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700px;
}
.q-size{
    font-size: 20px;
    font-weight: 800;
}
/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    height: 850px;
}

.header-content {
    margin: 0 240px 0 240px;
    display: flex;
    align-items: center;
}

.header-text {
    margin-top: 50px;
}

.header-img {
    margin-top: 50px;
}

.title-text {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: 90px;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

/* main contents styles  */
/* featured section styles */
.featured-content {
    margin: 150px 240px 150px;
}

.featured-heading-text {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
}

.featured-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 150px;
}

.f-card-styles {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.second-f-card {
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-f-card {
    background: rgba(71, 125, 17, 0.15);
}

.f-text {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}

/* facilities styles */
.facilities-sections {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 240px 100px;
    height: 320px;
    width: 1440;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.facilities-section{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facilities-section svg {
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.facilities-section p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}

/* sign up banner styles */
.sign-up-banner {
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-bottom: 100px;
}

.sign-up-banner-content {
    margin: 0 430px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-banner-text h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sign-up-banner-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 32px;
}

.sign-up-banner-text button {
    display: block;
    margin: auto;
}

.sign-up-banner-img img {
    width: 318px;
    height: 420px;
}

/* instagram content img */
.instagram-content {
    margin: 0 240px;
}

.instagram-content-text {
    margin-bottom: 50px;
}

.instagram-content-text h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram-content-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instagram-content-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.instagram-content-card {
    width: 342px;
    height: 396px;
}

/* subscribe banner styles */
.subscribe-banner {
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 120px;
}

.subscribe-banner h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}

.subscribe-banner p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.subscribe-banner input {
    width: 700px;
    height: 68px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-right: 10px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

::placeholder {
    padding-left: 25px;
}
/* testimonial styles */
.testimonial-container{
    margin-bottom: 100px;
    height: 500px;
    display: flex;
    background-color: #dbd8cb;
    border-radius: 10px;
}
.clients-comments{
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clients-comments h3{
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.client-comment{
    width: 400px;
    height: 250px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 15px 30px;
    border-radius: 10px;
    flex-direction: column;
}
.client-comment h4{
    font-size: 22px;
    font-weight: 800;
    text-align: center;
}
.img-background{
    width: 42%;
    background-image: url("Flower Asset/rikonavt-oEWdQsbRVZk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
}
/* footer related styles */
footer {
    background: #111010;
    height: 400px;
    padding-top: 130px;
}

footer h3 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}

footer .copyrights {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    display: block;
    font-weight: 400;
    margin-top: 15px;
}